<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Smooch POC - Erro</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<p th:text="'Erro desconhecido'">Deu erro aqui!</p>
<a href="/">Página inicial</a>
</body>
</html>