<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Smooch POC</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
</head>

<body>

<div ng-controller="smoochCtrl" layout="column" layout-fill="" ng-cloak="" ng-app="SmoochPOC">

    <section layout="row" flex="">

        <md-sidenav class="md-sidenav-left" md-is-locked-open="true" md-whiteframe="4">

            <md-toolbar class="md-theme-indigo">
                <h1 class="md-toolbar-tools">Conversas</h1>
            </md-toolbar>

            <md-list layout-padding="">
                <md-list-item class="md-2-line" ng-repeat="item in users">
                    <md-content layout="row" ng-click="changeChat(item._id)">
                        <md-content class="md-list-item-text" layout="column" flex="">
                            <h3>{{ item.name }}</h3>
                            <h4>{{ item._id }}</h4>
                        </md-content>
                        <md-icon class="md-avatar" md-svg-src="/img/arrow-right.svg" ng-show="showIcon(item._id)"/>
                    </md-content>
                </md-list-item>
            </md-list>

        </md-sidenav>

        <md-content layout="column" flex="">

            <md-content layout-padding="" flex="" scroll-glue="glued">
                <md-list-item class="md-3-line" ng-repeat="item in messages">
                    <img ng-src="{{item.avatarUrl}}" class="md-avatar" alt="{{item.name}}"/>
                    <md-content class="md-list-item-text" layout="column">
                        <h3>{{ item.name }}</h3>
                        <h4>{{ item._id }}</h4>
                        <p>{{ item.text }}</p>
                    </md-content>
                </md-list-item>
            </md-content>

            <md-content layout="row" md-whiteframe="24">

                <md-input-container flex="" class="md-block">
                    <label>Mensagem</label>
                    <textarea ng-model="message" md-maxlength="300" rows="2" max-rows="2"></textarea>
                </md-input-container>

                <md-button class="md-raised md-primary" aria-label="Enviar" ng-click="sendMessage()"
                           ng-disabled="!message">
                    Enviar <br/>
                    <md-icon md-svg-src="/img/send.svg"></md-icon>
                </md-button>

            </md-content>

        </md-content>

    </section>

</div>

<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc4/angular-material.css"/>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-animate.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-aria.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-messages.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc.5/angular-material.js"></script>
<script src="../static/js/smoochpoc.js" th:src="@{js/smoochpoc.js}"></script>
<script src="../static/js/scrollglue.js" th:src="@{js/scrollglue.js}"></script>

</body>
</html>